[access "refs/heads/*"]
	create = group zzz-old samsung_exynos
	push = group zzz-old samsung_exynos
	label-Code-Review = -2..+2 group zzz-old samsung_exynos
	label-Verified = -1..+1 group zzz-old samsung_exynos
	submit = group zzz-old samsung_exynos
[submit]
	action = rebase if necessary
[project]
	state = read only
